.DS_Store
.AppleDouble
.LSOverride
.grunt
bin/www-aiwanr-web
bin/build
app/handlers/openapi/gen
.idea/
__pycache__/
doc/build/
uploads/
shell/inc-eking
*.ipr
*.iml
*.iws
*.py[cod]
**/node_modules
test/demo2.py
test/qrcode_te.py
test/commons/123.py
test/commons/geohash_demo.py
test/qrcode_te.py
